body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #8adbad;
}

.quem-somos {
    background-color: grey;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #58fafa;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}